.app-title {
	font-family: 'Hurricane', cursive;
	font-size: 5rem;
	color: #fff;

	animation: flipTitle 2s;
}

@keyframes flipTitle {
	from {
		transform: rotateX(90deg);
	}
	to {
		transform: rotateX(0deg);
	}
}

@media screen and (max-width: 550px) {
	.app-title {
		font-size: 4rem;
	}
}
