.result-area {
	width: 450px;
	padding: 25px 50px;
	margin-top: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: linear-gradient(to right, #e0eafc, #cfdef3);
	border-radius: 5px;
	box-shadow: 1px 2px 8px #0005;
}

.result-area h2 {
	margin-bottom: 10px;

	font-size: 1.6rem;
	text-shadow: 1px 1px 3px #0005;
}

.result-area span {
	margin-bottom: 5px;

	font-size: 0.8rem;
	font-weight: 700;
}

@media screen and (max-width: 550px) {
	.result-area {
		width: 80%;
	}
}
